.scroll-page {
  min-height: 100vh; /* Ensures the page takes up the full viewport height */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.scroll-container {
  flex: 1;
  background-image: url("/Users/RDua/Desktop/a/Code/CelebrityMatching/client/background.jpg");
  background-repeat: repeat-y; /* Repeat the background vertically */
  background-size: auto; /* Do not stretch the image, use its original size */
  background-position: center top; /* Align the background at the top center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ensure content starts at the top */
  padding: 4rem 2rem;
  color: rgb(231, 57, 57);
}

.image-gallery-wrapper {
  background-color: rgb(
    251,
    238,
    235
  ); /* White background behind the entire gallery */
  border-radius: 15px;
  width: 50%; /* Adjust the width of the white strip */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
}

.image-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 4px 20px #00aff0; /* Add subtle shadow for depth */
  width: 85%; /* Adjust width to control the white strip */
  margin-bottom: 2rem;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper img {
  max-width: 90%;
  border-radius: 100px; /* Adds rounded corners to the image */
}

.image-wrapper p {
  font-size: 2.5rem;
  font-family: "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 600;
  color: #00aff0;
  margin-top: 1rem;
  text-transform: capitalize;
}

.scroll-title {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #00aff0;
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.loading-indicator {
  text-align: center;
  margin-top: 2rem;
}
