.contact-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: #fff4ea;
  width:40%; /* Make sure the parent takes up the full width */
}

.contact-content {
  background-color: #fff4ea;
  border-radius: 20px;
  padding: 4rem;
  width: 100%;
  max-width: 1000px;
  margin-top: -5rem;
  margin-bottom: -3rem;
}

.contact-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 0.5rem;
  margin-top: -1rem;
}

.contact-subtitle {
  color: #666;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-input {
  /* padding: 0.75rem 5rem; */
  border: 2px solid #00b0f1;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  transition: all 0.3s ease;
  background-color: #fff4ea;
  text-indent: 1rem;
  box-sizing: border-box;
  font-family: inherit;
}

input.form-input {
  height: 40px;
}

textarea.form-input {
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
}

.form-input:focus {
  outline: none;
  border-color: #00b0f1;
  box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.1);
}

.submit-button {
  background-color: #45b4dd;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: inherit;
}

.submit-button:hover {
  background-color: #3788a6;
  transform: translateY(-2px);
}

.submit-button svg {
  margin-right: 0.5rem;
}

.success-message {
  background-color: rgba(76, 175, 80, 0.9);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
}

.message-container {
  top: 100%;  
}

.success-message,
.error-message {
  background-color: rgba(76, 175, 80, 0.9);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.error-message {
  background-color: rgba(255, 0, 0, 0.9);
}
@media (max-width: 600px) {
  .contact-content {
    padding: 1.5rem;
  }

  .form-input {
    font-size: 0.9rem;
  }
}

/* Add this to ensure the background color extends to the bottom of the page */
body {
  background-color: #fff4ea;
  margin: 0;
  padding: 0;
  min-height: 25vh;
}
